
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.login{
    border: 2px solid #969696;
	width: 30%;
}

.botao{
    background-color: #a1e6f1;
}


 
