body{
    padding: 1px;
    margin: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mainContainer{
    position: absolute;
    text-align: center;
    padding: 1px;
    margin: 1px;
    width: 600px;
    height: 300px;
    top: 30%;
    left: 28%;
    border-style: groove;
    border-color: gray ;
}
.mainContainer input{
    text-align:center ;
    font-size: 2em;
    border-style: groove;

}


